[package]
name = "dynamixel2"
version = "0.3.1"
license = "BSD-2-Clause"
authors = [
	"Maarten de Vries <maarten@de-vri.es>",
	"RoboHouse <robohouse@robovalley.com>",
]

description = "dynamixel protocol 2.0"
keywords = ["dynamixel", "servo", "motor", "serial"]
categories = ["science::robotics"]
repository = "https://github.com/robohouse-delft/dynamixel2-rs"
readme = "README.md"

edition = "2018"

[dependencies]
log = { version = "0.4.8", optional = true }
serial2 = "0.1.3"

mio-serial = {version = "5.0.2", default-features = false, optional = true}
smol = {version = "1.2", optional = true}
futures = {version = "0.3", optional = true}
tokio = {version = "1.17.0", features = ["io-util"] , optional = true}
tokio-serial = {version = "5.4.1", optional = true}

[dev-dependencies]
assert2 = "0.3.3"
env_logger = "0.9.0"




[features]
async_tokio = ["tokio","tokio-serial"]
async_smol = ["mio-serial","smol", "futures"]
sync = []
default = ["sync"]

[workspace]
members = ["dynamixel2-cli"]


